<footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Help Centre</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Contact Us</a></li>
                <li><a class="footer-link" href="#">Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Our Company</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Deliveries</a></li>
                <li><a class="footer-link" href="#">FAQs</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Our Socials</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="https://www.tiktok.com/@sheegiftsflowers">Tiktok</a></li>
                <li><a class="footer-link" href="https://www.instagram.com/_.sheegiftscollection/?hl=en">Instagram</a></li>
                <li><a class="footer-link" href="https://www.facebook.com/profile.php?id=61551771506953">Facebook</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">&copy;2025 Shee Gifts & Flowers | All rights reserved</p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Developed by <a class="text-white reset-anchor" href="https://eyern.dev" target="_blank">Eyern</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>