{% extends 'base.html' %}
{% load static %}

      {% block content %}

      <!-- HERO SECTION-->
      <div class="container">
        

        <!-- SERVICES-->
    <section class="py-5 bg-light">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-4 mb-3 mb-lg-0">
            <div class="d-inline-block">
              <div class="media align-items-end">
                <ion-icon name="paper-plane-outline"></ion-icon>
                <div class="media-body text-left ml-3">
                  <h6 class="text-uppercase mb-1">Countrywide Shipping</h6>
                  <p class="text-small mb-0 text-muted">We are pleased to be able to offer delivery services for all orders made on our platform</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3 mb-lg-0">
            <div class="d-inline-block">
              <div class="media align-items-end">
                <ion-icon name="call-outline"></ion-icon>
                <div class="media-body text-left ml-3">
                  <h6 class="text-uppercase mb-1">24/7 Support</h6>
                  <p class="text-small mb-0 text-muted">Round-the-clock assistance for a smooth shopping experience</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-inline-block">
              <div class="media align-items-end">
                <ion-icon name="happy-outline"></ion-icon>
                <div class="media-body text-left ml-3">
                  <h6 class="text-uppercase mb-1">Shop with Confidence</h6>
                  <p class="text-small mb-0 text-muted">Our Protection covers your purchase from click to delivery</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


      </div>

      {% endblock content %}
